* {
    padding : 0;
    margin  : 0;
    border  : 0;
    
    font-family: sans-serif;
}

html {
    width  : 100%;
    height : 100%;
}

body {
    position        : fixed;
    top             : 0px;
    left            : 0px;
    right           : 0px;
    bottom          : 0px;
    overflow        : hidden;
    background-color: #222;
}

#loading {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 2em;
    color: orange;
    text-shadow: 2px 2px 4px #000;
}

#message {
    position                : absolute;
    left                    : 50%;
    bottom                  : -70px;
    transition              : bottom 0.2s ease-in-out;
    border-top-left-radius  : 10px;
    border-top-right-radius : 10px;
    background-color        : rgba(0, 0, 0, 0.7);
    transform               : translateX(-50%);
    font-size               : 24px;
    height                  : 60px;
    line-height             : 60px;
    max-width               : 90%;
    min-width               : 50%;
    text-align              : center;
    white-space             : nowrap;
    overflow                : hidden;
    text-overflow           : ellipsis;
    z-index                 : 1000;
    color                   : orange;
    box-shadow              : 0px 0px 4px 4px rgba(0,0,0,0.7);
    padding-left            : 10px;
    padding-right           : 10px;
}

#message.open {
    bottom    : 0px;
    transition: none;
}


.layer {
    position        : fixed;
    top             : 0px;
    left            : 0px;
    right           : 0px;
    bottom          : 0px;

    overflow-x      : hidden;
    overflow-y      : hidden;
    
    color           : #ddd;
    background-color: #222;
    scroll-behavior : auto;
}

.layer#viewer {
    overflow-x      : scroll;
    overflow-y      : scroll;
    background-color: #000;
    cursor          :none;
}

.layer#stacks {
    padding-top   : 60px;
    padding-bottom: 20px;
    overflow-y    : scroll;
}

.layer#books {
    padding-top   : 60px;
    padding-bottom: 20px;
    overflow-y    : scroll;
}

.layer#settings {
    padding-top   : 80px;
    padding-bottom: 20px;
    overflow-y    : scroll;
}

.layer>.title {
    position    : absolute;
    top         : 0px;
    left        : 80px;
    height      : 60px;
    line-height : 60px;
    font-size   : 32px;
    color       : orange;
    text-shadow : 2px 2px 4px #000;
}

.layer#controls {
    z-index         : 999;
    background-color: transparent;
    pointer-events  : none;
}

.book {
    display       : inline-block;
    position      : relative;
    vertical-align: top;
    cursor        : pointer;
    margin-top    : 2.5em;
    text-align    : center;
}
.book>.cover {
    position        : relative;
    display         : inline-block;
    width           : 90%;
    border          : 1px solid #777;
    background-color: #222;
    border-radius   : 0.1em;
}
.book>.cover>.actions {
    position        : absolute;
    top             : -2em;
    left            : -1px;
    height          : 1.6em;
    line-height     : 1.6em;
    background-color: #333;
    font-size       : inherit;
    color           : #ddd;
    border-radius   : 0.1em;
    padding         : 0px 0px 0px 0.5em;
    width           : calc(100% + 2px);
    text-align      : left;
    box-shadow      : 0px 0px 4px 4px rgba(0,0,0,0.2);
    text-shadow     : 2px 2px 4px #000;
    cursor          : pointer;
    outline         : none !important;
}
.book>.cover>.actions>.caret {
    position   : absolute;
    right      : 5%;
    top        : 0px;
    text-shadow: 2px 2px 4px #000;
    font-size  : 0.7em;
    color      : #aaa;
}
.book>.cover>.menu {
    position        : absolute;
    top             : 0px;
    left            : 1em;
    width           : calc(100% - 2em);
}
.book>.cover>.menu>.menuitem {
    position        : relative;
    text-align      : center;
    padding         : 0.4em 0.4em 0.4em 0.4em;
    color           : orange;
    background-color: #333;
    border          : 1px solid orange;
    cursor          : pointer;
    margin-top      : 1em;
    text-shadow     : 2px 2px 4px #000;
    box-shadow      : 0px 0px 4px 4px rgba(0,0,0,0.4);
    border-radius   : 0.3em;
}

.book>.cover>img {
    width : 100%;
}

.book>.cover>.badge-new {
    position     : absolute;
    top          : -0.2em;
    right        : -0.2em;
    height       : 2em;
    line-height  : 2em;
    background   : linear-gradient(to bottom, #55e 0%,#33b 100%);
    color        : #fff;
    text-shadow  : 2px 2px 4px #000;
    padding      : 0px 1em 0px 1em;
    border-radius: 0.3em;
    box-shadow   : 0px 0px 4px 4px rgba(0,0,0,0.4);
    font-size    : 0.6em;
}
.book>.cover>.badge-new:after {
    content: "New!";
}

.book>.cover>.status-unread {
    display   : block;
    background: linear-gradient(to bottom, #712020 0%,#511010 100%);
}
.book>.cover>.status-unread:after {
    content: " | Unread"
}

.book>.cover>.status-started {
    display   : block;
    background: linear-gradient(to bottom, #206120 0%,#104110 100%);
}
.book>.cover>.status-started:after {
    content: " | Started"
}

.stack {
    display       : inline-block;
    position      : relative;
    vertical-align: top;
    cursor        : pointer;
}
.stack>.cover {
    position        : absolute;
    height          : 65%;
    border          : 1px solid #ddd;
    background-color: #222;
    
    top             : 50%;
    left            : 50%;
}
.stack>.cover>img {
    width : 100%;
    height: 100%;
}
.stack>.cover>.unread {
    position     : absolute;
    top          : -2.4em;
    right        : 0em;
    height       : 1.6em;
    line-height  : 1.6em;
    font-size    : 0.8em;
    background   : linear-gradient(to bottom, #712020 0%,#511010 100%);
    border-radius: 0.3em;
    color        : #ddd;
    text-shadow  : 2px 2px 4px #000;
    box-shadow   : 0px 0px 4px 4px rgba(0,0,0,0.2);
    padding      : 0em 0.5em 0em 0.5em;
}
.stack>.cover>.new {
    position     : absolute;
    top          : -2.4em;
    left         : 0em;
    height       : 1.6em;
    line-height  : 1.6em;
    font-size    : 0.8em;
    background   : linear-gradient(to bottom, #55e 0%,#33b 100%);
    border-radius: 0.3em;
    color        : #fff;
    text-shadow  : 2px 2px 4px #000;
    box-shadow   : 0px 0px 4px 4px rgba(0,0,0,0.2);
    padding      : 0em 0.5em 0em 0.5em;
}
.stack>.name {
    position      : absolute;
    left          : 0px;
    bottom        : 0px;
    width         : 90%;
    text-align    : center;
    vertical-align: bottom;
    padding       : 0% 5% 0% 5%;
    text-shadow   : 2px 2px 4px #000;
    z-index       : 99;
}

.no-stacks {
    position   : absolute;
    left       : 50%;
    top        : 50%;
    width      : 70%;
    text-align : center;
    transform  : translate(-50%,-50%);
    font-size  : 24px;
    color      : orange;
    text-shadow: 2px 2px 4px #000;
}

#page {
    position: relative;
    
    /* Default size */
    width   : 100%;
    height  : 100%;
}
#page>img {
    position: absolute;
    top     : 0px;
    left    : 0px;
    width   : 100%;
    height  : 100%;
    z-index : 2;
}
#page>#progress {
    position        : absolute;
    display         : inline-block;
    top             : 50%;
    left            : 50%;
    transform       : translate(-50%,-50%);
    z-index         : 1;
    text-align      : center;
    height          : 120px;
    width           : 120px;
    font-size       : 32px;
    line-height     : 120px;
    background-color: #333;
    border-radius   : 120px;
    color           : orange;
    text-shadow     : 2px 2px 4px #000;
}

.layer#viewer.fit {
    overflow-x : hidden;
    overflow-y : hidden;
}
.layer#viewer.fit>#page {
    position  : absolute;
    top       : 50%;
    left      : 50%;
    transform : translate(-50%,-50%);
}

.layer#viewer.scroll-down {
    overflow-x: hidden;
}
.layer#viewer.scroll-right {
    overflow-y: hidden;
}

.control {
    position         : absolute;
    width            : 60px;
    height           : 60px;
    font-size        : 20px;
    line-height      : 60px;
    text-align       : center;
    background-color : #444;
    box-shadow       : 0px 0px 4px 4px rgba(0,0,0,0.2);
    color            : orange;
    cursor           : pointer;
    pointer-events   : auto;
    transition       : opacity 0.3s linear;
    opacity          : 0.8;
    
    -webkit-touch-callout : none;
    -webkit-user-select   : none;
    -khtml-user-select    : none;
    -moz-user-select      : none;
    -ms-user-select       : none;
    user-select           : none;
}

.control.removed {
    opacity        : 0;
    pointer-events : none;
}
.control.hidden {
    opacity: 0;
}
.control.hidden.hinted {
    opacity: 0.8;
    transition: none;
}

.control>svg {
    position : absolute;
    display  : block;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
}
.control#logo {
    border-bottom-right-radius: 10px;
    top                       : 0px;
    left                      : 0px;
}
.control#logo>img {
    width         : 42px;
    height        : 42px;
    vertical-align: top;
    padding-top   : 8px;
}
.control#close {
    border-bottom-right-radius: 10px;
    top                       : 0px;
    left                      : 0px;
}
.control#fscreen {
    border-bottom-left-radius : 10px;
    top                       : 0px;
    right                     : 0px;
}
.control#settings {
    border-bottom-left-radius : 10px;
    border-bottom-right-radius: 10px;
    top                       : 0px;
    right                     : 80px;
}
.control#colup {
    border-bottom-left-radius : 10px;
    border-bottom-right-radius: 10px;
    top                       : 0px;
    right                     : 160px;
}
.control#coldown {
    border-bottom-left-radius : 10px;
    border-bottom-right-radius: 10px;
    top                       : 0px;
    right                     : 240px;
}
.control#prev {
    border-top-right-radius   : 10px;
    bottom                    : 0px;
    left                      : 0px;
    top                       : 80px;
    height                    : auto;
}
.control#next {
    border-top-left-radius    : 10px;
    bottom                    : 0px;
    right                     : 0px;
    top                       : 80px;
    height                    : auto;
}
.control#mode {
    border-top-left-radius    : 10px;
    border-top-right-radius   : 10px;
    bottom                    : 0px;
    left                      : 80px;
    right                     : 80px;
    width                     : auto;
}


.settings-group {
    display          : block;
    position         : relative;
    width            : calc(100% - 40px);
    margin-left      : 20px;
    font-size: 16px;
    color: orange;
}

.settings-group>.title {
    width        : 100%;
    height       : 32px;
    line-height  : 32px;
    text-shadow  : 2px 2px 4px #000;
    font-size    : 24px;
    border-bottom: 1px solid orange;
}

.settings-group>.body {
    width    : 100%;
    font-size: 16px;
    padding  : 15px 0px 20px 0px;
}

.settings-group>.body>.help {
    width    : 100%;
}

.settings-group>.body>.form {
    position: relative;
    width  : 100%;
    padding: 15px 0px 0px 0px;
}

.settings-group>.body>.buttons {
    width  : 100%;
    padding: 15px 0px 0px 0px;
    text-align: right;
}

.settings-group>.form {
    position: relative;
    width: 100%;
}

table.form {
    width:100%;
}

td.form-label {
    text-align: right;
    white-space: nowrap;
    padding-right: 5px;
    width:30%;
    padding-bottom:10px;
}

td.form-control {
    padding-left:5px;
    padding-bottom:10px;
}

select.settings,
input.settings {
    display         : block;
    width           : calc(100% - 20px);
    border-radius   : 5px;
    height          : 32px;
    font-size       : 16px;
    line-height     : 32px;
    padding         : 0px 10px 0px 10px;
    background-color: #444;
    color           : #ddd;
    outline         : none;
    box-sizing      : content-box;
}

select.settings:focus,
input.settings:focus {
    background-color: #555;
}

button.settings {
    display         : inline-block;
    height          : 32px;
    line-height     : 32px;
    font-size       : 16px;
    background-color: #444;
    color           : orange;
    padding         : 0px 20px 0px 20px;
    border-radius   : 5px;
    cursor          : pointer;
    box-shadow      : 0px 0px 4px 4px rgba(0,0,0,0.2);
    outline         : none;
}

button.settings:hover {
    background-color: #555;
}

